@import '../vars';

.misc {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  @media only screen and (max-width: $break-medium) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

    &__bottom-underline {
      display: none;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;

    & h1 {
      margin: 0 10px 0 0;
      color: $color-black;
      font-size: 24px;
      font-weight: 400;
    }

    & .underline {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.misc-slider {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $break-medium) {
    &__items li:nth-child(4), &__items li:nth-child(5) {
      display: none;
    }
  }

  &__items {
    margin: 0 20px;
    flex: 1;
    list-style: none;
    display: flex;

    justify-content: space-between;

    //@media only screen and (max-width: $mobile) {
    //  flex-wrap: wrap;
    //  justify-content: flex-start;
    //}
  }

  &__button {
    width: 60px;
    height: 180px;
  }

  .control-button {
    font-size: 48px;
  }
}

.misc-item {
  width: 140px;

  &__image {
    width: 140px;
    height: 95px;
  }

  &__title {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: $color-red;
  }

  &__subtitle {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    color: $color-blue;

    // hack to limit text to 3 rows
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px;
  }
}


