@import './upper';
@import './header';

@import './colors';

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", serif;
}

.container {
  width: 940px;
  margin: auto;
}

.underline {
  border-bottom: 2px solid $black;
}