@import './blocks/upper';
@import './blocks/header';
@import './blocks/main';
@import './blocks/news';
@import './blocks/carusel';
@import './blocks/misc';
@import './blocks/video';
@import './blocks/footer';

@import './vars';

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-1;
}

.container {
  width: $break-large;
  margin: auto;

  @media only screen and (max-width: $break-medium) {
    width: $break-medium - 20px;
  }
}

.underline {
  border-bottom: 2px solid $color-black;
}

.control-button {
  background: none;
  border: none;
  color: $color-red;

  &:hover {
    cursor: pointer;
  }
}

