@import './upper';
@import './header';
@import './main';
@import './news';
@import './carusel';
@import './misc';
@import './video';
@import './footer';

@import 'vars';

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", serif;
}

.container {
  width: 940px;
  margin: auto;
}

.underline {
  border-bottom: 2px solid $black;
}

.control-button {
  background: none;
  border: none;
  color: $red;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: 620px;
    margin: auto;
  }
}