@import './vars';

.main {
    margin: 30px 0;
}

.main__container {
  display: grid;

  grid-template-columns: 620px 300px;
  grid-column-gap: 20px;

  grid-template-rows: 255px 275px 215px;
  grid-row-gap: 30px;

  @media only screen and (max-width: $mobile) {
    grid-template-columns: 620px;

    grid-template-rows: 255px 275px 560px 215px;
    grid-row-gap: 20px;
  }
}
