@import 'vars';

.news {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  &__heading {
    display: flex;
    justify-content: space-between;

    & h1 {
      margin: 0;
      color: $black;
      font-size: 24px;
      font-weight: 400;
    }

    & .underline {
      width: 500px;
      margin-bottom: 5px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

.news-item {
  width: 140px;

  &__image {
    width: 140px;
  }

  &__title {
    margin: 0;
    color: $black;
    font-size: 14px;
    font-weight: 400;

    // hack to limit text to 4 rows
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 65px;
  }
}

@media only screen and (max-width: $mobile) {
  .news {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
